.quote {
  margin-bottom: 16.5rem;
  &__inner {
    padding: 50px 80px;
    border-radius: 1.8rem 0;
    border: 1px solid var(--color-white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.7rem;
    position: relative;
  }
  &__text {
    font-weight: 400;
    max-width: 32.5rem;
    width: 100%;
    color: var(--color-white);
    padding-bottom: 1.5625rem;
    position: relative;
    font-size: 1.1rem;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--color-white);
      bottom: 0;
      left: 0;
    }
  }
  &__link {
    display: block;
    margin-top: 1.5625rem;
    color: var(--color-violet);
    font-weight: 700;
  }

  &__img {
    position: absolute;
    right: 70px;
    top: -50px;
    img {
      display: block;
      width: 100%;
      max-width: 370px;
      border-radius: 1.8rem 0;
    }
  }
}

//MEDIA
.quote {
  @media (max-width: 952px) {
    &__text {
      font-size: 0.8rem;
    }

    &__img {
      img {
        max-width: 300px;
      }
    }
  }

  @media (max-width: 758px) {
    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 30px 80px;
      flex-wrap: wrap;
    }

    &__img {
      position: static;
      // max-width: 200px;
      top: 10px;
    }
  }
}
