@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #1c1b21;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-white);
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-play {
    font-size: var(--color-white);
  }
  &-play {
    fill: #000000;
  }
  .line {
    display: block;
    width: 887px;
    background-color: rgba(255, 255, 255, 1);
    height: 1px;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 4.3rem;
      height: 1px;
      background-color: var(--color-violet);
      &::after {
        content: '';
        background-color: var(--color-violet);
        height: 20px;
      }
    }
  }
}

.active-track {
  font-weight: 600;
  color: var(--color-violet);
}


